---
interface Props {
    href: string;
    title: string;
}
const { href, title } = Astro.props;
---

<li>
    <a 
    href={href} 
    class="block py-2 px-3 text-white bg-white-700 rounded-sm md:bg-transparent md:text-white-700
     md:p-0 md:dark:text-white-500 dark:bg-white-600 md:dark:bg-transparent"
     >{title}</a>

</li>